Makefile
.deps
*.in
*.[ao]
*.l[ao]
*.sw*
aclocal.m4
autom4te.cache/
compile
config.h
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
.dirstamp
*.conf
core
GPATH
GRTAGS
GSYMS
GTAGS
m4/
config.*
*.sh
libtool
.libs
